.modal {
  display: none;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  padding: 0 19px;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal_opened {
  display: flex;
}

.modal__container {
  background-color: #ffffff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
}

.modal__close-button {
  background-image: url("../images/Close-Icon.svg");
  border: none;
  position: absolute;
  top: -45px;
  right: -45px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: none;
  background-size: contain;
}

.modal__close-button:hover {
  opacity: 0.5;
  cursor: pointer;
}

.modal__heading {
  font-family: "Inter", Arial, sans-serif;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  padding: 34px 64px 54px 36px;
  margin: 0;
  color: #000000;
}

@media screen and (max-width: 480px) {
  .modal__close-button {
    padding: 0;
    width: 26px;
    height: 26px;
    top: -31px;
    right: -31px;
  }
  .modal__container {
    height: 322px;
    width: 282px;
  }
  .modal__heading {
    font-family: "Inter", Arial, sans-serif;
    font-size: 18px;
    font-weight: 900;
    line-height: 1.2;
  }
}
